@import "../../../vars.css";

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;

    .navbar-title {
        font-size: 25px;
        font-weight: 600;
        color: var(--color-text);
        text-decoration: none;
    }

    .navbar-menu {
        display: flex;

        .navbar-menu-btn{
            display: none;
        }

        .navbar-menu-items {
            display: flex;
            gap: 47px;
            list-style: none;

            a {
                font-size: 20px;
                color: var(--color-text);
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .navbar-menu {
            position: absolute;
            right: 0;
            flex-direction: column;
            align-items: flex-end;
            gap: 11px;
            z-index: 3;
            
            .navbar-menu-btn {
                cursor: pointer;
                display: block;
            }

            .navbar-menu-items {
                display: none;
                flex-direction: column;
                align-items: center;
                gap: 13px;
                border-radius: 10px;
                background-color: rgb(25,55,109);
                background: linear-gradient(0deg, rgba(25,55,109,0.2) 0%, rgba(25,55,109,1) 100%);
                padding: 24px 33px;
                box-shadow:  0 0 4px 0 rbga(0,0,0,0.25);
                opacity: 0;
                
            }

            .navbar-menu-open {
                display: flex;
                z-index: 1;
                opacity: 1;
            }
        }
    }
}