@import "../../../vars.css";

.projects-container {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--color-text);
    z-index: 1;
    margin-top: 76px;

    .projects-title {
        font-family: var(--font-roboto);
        font-size: 35px;
        font-weight: 700;
        color: var(--color-text);
        letter-spacing: 1.75px;
    }

    .projects-card {
        margin-top: 37px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}

@media screen and (max-width: 830px) {
    .projects-card {
        flex-direction: column;
    }
}